{% extends 'base.html' %}
{% load static %}
{%block title%} - 바코드검색{%endblock%}
{% load humanize %}     <!-- 원화표시 포맷팅을 위해 -->
{% block content %}
<div class="container px-4 py-5">
    <!-- 공지사항 영역 -->
    <div id="announcement">
        <h2 class="pb-2 border-bottom">바코드검색</h2>
        <strong><p style="font-size:0.75rem; color:#ac2c38b5">
            갖고 계신 책의 바코드를 통해<br>
            알라딘 서점과 그린 24 내의 관련 정보들을 확인하세요
        </p></strong>
    </div>
    <section id="barcode_reader">
    <!-- 타이틀 정보가 없는 경우(바코드 정보 검색 전) -->
    {% if not title %}
        <div class="my-3 text-center">
            <form method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'form_errors.html' %}
                {{ form.image }}
                <button type="submit" class="save btn btn-primary" value="upload">검색</button>
                <div style="margin:30px auto;">
                    <!-- 자바스크립트(파일미리보기) 위해 id, src 지정 -->
                    <img id="tempImage" src="">
                </div>
            </form>
            {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    <!-- 타이틀 정보가 있는 경우(바코드 정보 검색 후) -->
    {% else %}
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p>알라딘 검색 결과입니다.</p>
                <table class="table">
                    <tr>
                        <td rowspan="4" style="vertical-align: middle;">
                            <div>
                                <img src="{{ cover }}" style="width: 250px;">
                            </div>
                        </td>
                        <td class="text-start"><h4>{{ title }}</h4></td>
                    </tr>
                    <tr>
                        <td class="text-start pt-3">
                            새도서(알라딘) <s>{{ price_standard|intcomma }}원</s>
                            <i class="fa-solid fa-arrow-right"></i>
                            <span class="lead">{{ price_sales|intcomma }}원</span>
                            <a href="{{link}}" target="_blank">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-start pt-3">{{ author }}</td>
                    </tr>
                    <tr>
                        <td class="text-start pt-3">{{ description }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="search-results" class="row text-center justify-content-center">
        {% if search_result %}
            <h5 class="mt-3">사이트내 검색 결과</h5>
            <small>제목, 내용, 댓글내용에서 책제목 검색</small>
            {% if search_result.goods_search %}
            <div class="col-lg-4 mt-3">
                <strong>중고서적구매</strong>
                <p>검색 결과: {{ search_result.goods_search.count }}건</p>
                <ul>
                    {% for item in search_result.goods_search %}
                    <li class="list-group-item text-start">
                        <a href="{{ item.get_absolute_url }}">
                            {{ item.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if search_result.trade_search %}
            <div class="col-lg-4 mt-3">
                <strong>중고책직거래</strong>
                <p>검색 결과: {{ search_result.trade_search.count }}건</p>
                <ul>
                    {% for item in search_result.trade_search %}
                    <li class="list-group-item text-start">
                        <a href="{% url 'tradebook:tradebook_detail' item.id %}">
                            {{ item.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if search_result.commu_search %}
            <div class="col-lg-4 mt-3">
                <strong>커뮤니티</strong>
                <p>검색 결과: {{ search_result.commu_search.count }}건</p>
                <ul>
                    {% for item in search_result.commu_search %}
                    <li class="list-group-item text-start">
                        <a class="label-title" href="{% url 'community:detail' item.id %}">
                            {{ item.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% else %}
            <div class="col-lg-4 mt-3">
                <p>죄송합니다. 검색 결과가 없습니다.</p>
            </div>
        {% endif %}
        </div>
    {% endif %}
    </section>
</div>
{% endblock %}
{% block script %}
<script>
// 이미지 파일 미리보기
function imageView(input) {
    if (input.files && input.files[0]) {        // 파일리스트가 있는지 + 리스트에 첫번째 파일 존재하는지(유효성검사)
        var reader = new FileReader();
        reader.onload = function(e) {           // 파일을 읽어오면
            $('#tempImage').attr('src', e.target.result)    // 미리보기
                .width(400).height(400);        // 이미지크기 제한
        }
        reader.readAsDataURL(input.files[0]);   // 리스트 첫파일을 읽어오고 파일의 내용을 URL형식으로 변환
    }
}
</script>
{% endblock %}